<!DOCTYPE html>

<html id='weather-html'>
    <head>
        <link href="css/styles.css" rel="stylesheet">
    </head>
    <body>
        {{>header}}
        <div class='main-content'>
            <p> Enter a City or address into the search bar to see the current weather summary for that area </p>
        </div>
        {{>footer}}

    </body>
</html>
